/* NewLayout 布局样式 —— 与原 layouts/default/index.vue 的 style 块一致 */

.ant-layout.jeesite-default-layout {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  background-color: @content-bg;

  &-main {
    width: 100%;
    margin-left: 1px;
    background-color: @content-bg;
  }
}
